/* .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .pokemon-card {
    max-width: 50%;
    border: 2px solid #ccc;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .pokemon-card:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
   */

   .porte {

 max-width: 20px;
   }